<div class="profile">
    <div class="profile-image" >
        <% if (theme.profile.image) {%>
            <img src="<%= url_for(theme.profile.image)%>" alt="featured_image" >
        <% } %>  
    </div>
    <div class="post-content profile-content">
        <div class="profile-title">
            <%=theme.profile.title%>
        </div>
        <div class="profile-body">
            <%=theme.profile.body%>
        </div>
        

    </div>    
</div>

<div class="post-content">
    <h3>Featured articles</h3>
    <div class="post-list">
    <div class="post-list-item">
        <div class="post-title">
            <a href="/2025/Building-a-RAG-AI-with-Ollama-and-LangChain-PDF-Answer-AI/">
                Building a RAG AI with Ollama and LangChain - PDF Answer AI
            </a>
            <div class="post-description">
                    Learn how to build a Retrieval-Augmented Generation (RAG) AI pipeline using Ollama, LangChain, and ChromaDB to query and analyze your own PDF documents locally with Node.js. Step-by-step guide for students, developers, and AI enthusiasts.
                </div>
        </div>
    </div>
    <div class="post-list-item">
        <div class="post-title">
            <a href="/2025/Lyapunov-Orbits-around-Lagrange-Points-Theory-Simulation-and-MATLAB-Implementation/">
                Lyapunov Orbits around Lagrange Points: Theory, Simulation and MATLAB Implementation
            </a>
            <div class="post-description">
                Explore how Lyapunov orbits around Lagrange points work and learn how to simulate them in MATLAB. A blend of theory, orbital dynamics, and practical coding for space exploration.
            </div>
        </div>
    </div>
    </div>

    <h3>Links</h3>
    <% Object.keys(theme.profile.links).forEach(key=> { %>
            <div class="profile-link">
                <a href="<%= url_for(theme.profile.links[key])%>">
                    <%=key%>
                </a>
            </div>
            <% }); %>

</div>